<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} - {{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <!--   Syntax highlighting is only needed for posts -->
    {% if page.layout == 'post' %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax-highlighter.css">
    {% endif %}

    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans:700" rel="stylesheet">
</head>