---
layout: compress
---

<!DOCTYPE html>
<html lang="{{site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <input type="checkbox" id="hamburger" name="hamburger">
    <label id="label-ham" for="hamburger"></label>
    <div class="menu-container">
      <div class="menu"></div>
      <div class="links">
          <a href="{{site.baseurl}}/"><i class="fa fa-home"></i>&nbsp;Home</a>
          <a href="{{site.baseurl}}/about/"><i class="fa fa-user"></i>&nbsp;About</a>
          <a href="{{site.baseurl}}/archive/"><i class="fa fa-file-zip-o"></i>&nbsp;Archive</a>
          <a href="{{site.baseurl}}/contact/"><i class="fa fa-address-book-o"></i>&nbsp;Contact</a>
          <a href="https://github.com/sharu725/krishna"><i class="fa fa-code-fork"></i>&nbsp;Project</a>
      </div>
    </div>
    <div class="content">
      <header>
          <a href="{{site.baseurl}}/"><h1 class="site-title">{{site.title}}</h1></a>
      </header>
      {{ content }}
      
      {% include footer.html %}
    </div>

    <!-- Calling Fontawesome at the end to avoid delay in loading --> 
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% include analytics.html %}
  </body>
</html>
